#aboutus {
    .img-container {
        margin-bottom: 1rem;
    }

    .top-margin {
        margin-top: 2em;
    }

    .larger-text {
        font-size: 1.2em;
    }

    @media (min-width: 992px) {
        img {
            height: 400px;
            width: auto;
        }

        .img-container {
            text-align: center;
        }
    }
}
