#aboutus {
    .img-container {
        margin-bottom: 1rem;
        text-align: center;
    }

    .top-margin {
        margin-top: 2em;
    }

    .larger-text {
        font-size: 1.2em;
    }

    img {
        height: auto;
        width: auto;
        max-width: 100%;
    }

    @media (min-width: 767px) {
        img {
            height: 219px;
            width: auto;
        }
    }

    @media (min-width: 1200px) {
        img {
            height: 400px;
            width: auto;
        }

        .img-container {
            text-align: center;
        }
    }
}
