#gallery {

.slick-slide {
    height: 350px;
    margin: 0 1rem;
}

.slick-prev, .slick-next {
    display: none !important;
}

.gallery-title {
    margin-bottom: 1.5rem;
}

.container {
    max-width: unset;
    cursor: grab;
}


}